{% extends 'main/base.html' %}

{% block title %}
Ручной плиткорез
{% endblock %}

{% block body %}

   <div class="row row-cols- row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma TECNICA-61 2D4</h4>
          </div>
          <div class="card-body">
            <img src="static\myshop\img\sigma TECNICA-61 2D4.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma TECNICA-61 2D4">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma MAX-72,5 3C3M</h4>
          </div>
          <div class="card-body">
             <img src="static\myshop\img\sigma MAX-72,5 3C3M.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma MAX-72,5 3C3M">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma MAX-90,5 3D4M</h4>
          </div>
          <div class="card-body">
            <img src="static\myshop\img\sigma MAX-90,5 3D4M.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma MAX-90,5 3D4M">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma MAX-100,5 3P3M</h4>
          </div>
          <div class="card-body">
            <img src="static\myshop\img\sigma MAX-100,5 3P3M.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma MAX-100,5 3P3M">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma MAX-127,4 3E4M</h4>
          </div>
          <div class="card-body">
             <img src="static\myshop\img\sigma MAX-127,4 3E4M.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma MAX-127,4 3E4M">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">sigma MAX-156 3F4M</h4>
          </div>
          <div class="card-body">
            <img src="static\myshop\img\sigma MAX-156 3F4M.jpg"
                 height="300"
                 width="300"
                 alt="Ручной плиткорез sigma MAX-156 3F4M">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить за N/A</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}